In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

Answer:
    Values:
        'hello',-87.8,6
    expression:
        *,-,/,+

In [ ]:
2. What is the difference between string and variable?
Answer:String:String is a data e.g. 'hello','welcome','good morning' we can store that data in variable
        Variable:Variable is used to store the value. It can be integer,float,boolean,String 
            e.g. a=10 # a is a name of variable that stores a 10 value

In [ ]:
3. Describe three different data types.
1.int:We can use int data type to represent whole numbers(integral values)
    e.g:a=10
        type(a)   #int
2.float:We can use float data type to represent floating point values(decimal values)
    e.g:f=1.234
        type(f)   #float
3.str:str represents string data type.A string is a sequence of characters enclosed within single quotes or double quotes.
    e.g:s='python'or s="python"

In [ ]:
4.What is an expression made up of? What do all expressions do?
expression is a combination of operands and operators and it produce some result after execution of that expression

In [ ]:
5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
expression is a combination of operands and operators and it produce some result after execution of that expression.
statement is a simple statement like command used to print information.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Answer:23

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'=spamspamspam # +operator concatenate two string both operand should be string type only
'spam' * 3         =spamspamspam # * operator repeate the string by given number in that one operand should be string and one must be int type.

In [ ]:
8.Why is eggs a valid variable name while 100 is invalid?
Because we cannot start variable name using numbers.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
Answer: int(), float(),str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten'  + 99 +'burritos'
Answer:Because 99 is int value we can not concatenate string and int values for that we need to do typecasting 
    e.g:'I have eaten'+ str(99)+ 'burritos' or we can write
        'I have eaten'+'99'+'burritos'